@import "src/assets/styles/constants";
@import "src/assets/styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;
  width: 70%;

  @include breakpoint-max($bp-screen-md) {
    width: 100%;
  }

  > input, textarea {
    background-color: $color-grey-300;
    border: 1px solid $color-grey-300;
    border-radius: 2.4rem;
    font-family: inherit;
    padding: 1.6rem 2.4rem;
    transition: border .2s ease-in-out;

    &::placeholder {
      @include text-label();
      color: $color-grey-600;
      transition: color .2s ease-in-out;
    }

    &:focus,
    &:hover {
      border: 1px solid $color-grey-1000;
      &::placeholder {
        color: $color-grey-1000;
      }
    }
  }

  > textarea {
    resize: none;
  }

  > button {
    align-self: center;
    background-color: $color-brand;
    transition: color .2s ease-in-out;
    width: fit-content;

    &:hover,
    &:focus {
      color: $color-background-grey;
    }

    &:disabled {
      background-color: $color-brand;
      color: $color-white;
    }
  }
}