@import "src/assets/styles/constants";
@import "src/assets/styles/mixins";

.wrapper {
  align-items: center;
  background-color: $color-background-grey;
  border-radius: 0 2.2rem 2.2rem 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 12.8rem);
  left: 0;
  padding: 6.4rem $nav-padding-x;
  position: fixed;
  top: 0;
  width: $nav-width;
  z-index: 100;
}

.list {
  align-self: flex-start;
  margin-top: 4.8rem;
  width: 100%;

  > li {
    @include text-paragraph-large();
    border-bottom: 1px solid $color-grey-600;
    padding: .8rem 0;
    transition: border-bottom-color .2s ease-in-out;

    &:hover {
      border-bottom-color: $color-brand;
    }
  }
}

.contact {
  align-items: center;
  bottom: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  span {
    transition: color .2s ease-in-out;
  }

  > a:focus,
  a:hover {
    span {
      color: $color-brand;
    }
  }
}