@import "src/assets/styles/mixins";

.header {
  background: linear-gradient(to right, rgba($color-black, .85) 65%, rgba($color-grey, .2)) 65% 100%, url('../../assets/images/header.jpg') left center repeat;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 19.2rem);
  justify-content: center;
  padding: 12.8rem 6.4rem 6.4rem calc($nav-width + 6.4rem);
  width: calc(100vw - ($nav-width + 6.4rem) - 6.4rem);

  @include breakpoint-max($bp-screen-xl) {
    padding-left: calc($nav-width-xl + 6.4rem);
    width: calc(100vw - ($nav-width-xl + 6.4rem) - 6.4rem);
  }

  @include breakpoint-max($bp-screen-lg) {
    background: linear-gradient(to right, rgba($color-black, .85) 65%, rgba($color-grey, .2)) 65% 100%, url('../../assets/images/header.jpg') right center repeat;
    padding-left: 6.4rem;
    width: calc(100vw - 12.8rem);
  }

  @include breakpoint-max($bp-screen-md) {
    height: calc(100vh - 16.2rem);
    padding: 9.8rem 3.2rem 6.4rem 3.2rem;
    width: calc(100vw - 6.4rem);
  }

  @media (max-width: 420px) and (max-height: 700px) {
    height: initial;
  }

  > h1 + p {
    margin: 2.4rem 0 4.8rem 0;
    max-width: 65ch;

    @include breakpoint-max($bp-screen-smd) {
      margin: 1.2rem 0 2.4rem 0;
    }
  }
}

.buttonWrapper {
  align-items: center;
  display: flex;
  @include breakpoint-max($bp-screen-smd) {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  button:first-child {
    > span {
      display: grid;
      gap: 1rem;
      grid-template-columns: 0fr 1fr;
    }
  }
}