@import "src/assets/styles/constants";
@import "src/assets/styles/mixins";

.wrapper {
  align-items: center;
  background: linear-gradient(to bottom, rgba($color-grey-600, 0.75), rgba($color-brand, 0.75)), url('../../assets/images/header.jpeg') left center no-repeat;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 100vh;
  justify-content: center;
  padding-left: $nav-real-width;
  width: calc(100vw - $nav-real-width);

  @include breakpoint-max($bp-screen-xl) {
    padding-left: $nav-real-width-xl;
    width: calc(100vw - $nav-real-width-xl);
  }

  @include breakpoint-max($bp-screen-lg) {
    padding-left: 0;
    width: 100vw;
  }

  > p {
    max-width: 75%;

    @include breakpoint-max($bp-screen-sm) {
      margin-top: 8rem;
    }
  }
}