@import "mixins";

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: calc(100vh - 6.4rem);
  justify-content: center;
  padding: 3.2rem;
  width: calc(100vw - 6.4rem);
}