$color-white: #FFFFFF;
$color-grey: #525252;
$color-black: #212121;

$color-brand-v1: #C5A47E;
$color-brand-v2: #8B683F;
$color-brand-v3: #5E554A;

$bp-screen-xl: 1099px;
$bp-screen-lg: 991px;
$bp-screen-md: 767px;
$bp-screen-smd: 565px;
$bp-screen-sm: 375px;
$bp-screen-xs: 320px;

$bp-vertical-md: 700px;

$content-max-width: 1200px;

$nav-width: 22vw;
$nav-width-xl: 26vw;

$transition-seconds: .35s




